<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="repository.UserMapper">

    <select id="read_users" resultType="domain.Users">
        SELECT * FROM football.user;
    </select>

    <select id="login_user" parameterType="domain.Users" resultType="string">
        SELECT id FROM football.user WHERE id = #{id} AND pw=#{pw};
    </select>

    <select id="check_id" resultType = "string" parameterType="string">
        SELECT user_id FROM shoppingmall.user_info WHERE user_id = #{id};
    </select>

</mapper>